



.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  margin:auto 0;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


